.movies-section {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  margin-left: 40px;
  max-height: 100%;
  width: 100%;
}

.movie-card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
  text-align: center;
  width: 25%;
}

.movie-card h3,
p {
  font-family: 'Roboto';
}
