.movies-section {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  margin-left: 40px;
  max-height: 100%;
  width: 100%;
}

.movie-card {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.movie-card h3,
p {
  font-family: 'Roboto';
}
.movie-card-container {
  width: 25%;
}
.resume {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  font-size: small;
}
/* @media screen and (min-width: 721px) {
  img {
    width: 40vh;
  }
} */
img {
  width: 25vh;
}
