.Main-conteneur-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}

button {
  font-family: 'Roboto';
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #bcbcbc;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.conteneur-questions {
  color: rgb(253, 253, 253);
  font-family: 'Permanent Marker';
  font-size: 20px;
  background-color: #8c1b11;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  width: auto;
  text-align: center;
}

h3 {
  margin: 10px 0;
}

/* git.Main-conteneur-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: 'Roboto';
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: #bcbcbc;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.conteneur-questions {
  color: rgb(253, 253, 253);
  font-family: 'Roboto';
  font-size: 20px;
  background-color: #8c1b11;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  width: auto;
  text-align: center;
}

h3 {
  margin: 10px 0;
} */
