* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

.question-section {
  display: flex;
  justify-content: space-around;
}

.question-container {
  width: 30%;
}

.HomeDisplay {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
}

.search-Main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
